* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ol,
ul {
  list-style: none;
}

header {
  background-color: rgb(53, 53, 53);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
}

.logo .logoSfera {
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSfera:not(:last-child) {
  margin-right: -10px;
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 0 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}

main {
  padding: 50px 0;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}